@font-face {
    font-family: 'WilliamCostinavel';
    src: url('WilliamCostinavel.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSerif';
    src: url('NotoSerif.ttf') format('truetype');
}

:root {
    --prim-gold: #EFD08C;
    --prim-dark-blue: #173153;
    --sec-sand: #E8DEC8;
    --sec-light-blue: #B5EEFF;    
    --sec-sky-blue: #3894CC;
    --basic-black: #1A1E22;
    --basic-white: #FFFFFF;
  }

html {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
.nav__menu, .nav__menu div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 0;
    padding-top: 1rem;
    margin: 0 1.5rem 1rem;
}

.menu__item {
    list-style: none;
    color: #ffffff;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.text--decorative {
    font-family: 'WilliamCostinavel', sans-serif;
    font-size: 1.5rem;
}

/* Hover effect */
.menu__link:hover, .menu__link--cz {
    color: var(--prim-gold);
}

body {
    text-align: center;
    margin: 0;
}

.header {
    margin: 0 auto;
    height: 18rem;
}

.header--video {
    height: 100vh;
}

h2, h3, h4, h5, h6, .heading--h2 {
    font-family: 'NotoSerif', serif;
    font-weight: 400;
}

h2, .heading--h2 {
    font-size: 2rem;
}

.heading--h1 {
    font-family: 'WilliamCostinavel', sans-serif;
    font-weight: 400;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1.5rem;
    margin: 0;
    text-transform: lowercase;
    color: #ffffff;
    font-size: 3rem;
    animation: 2s ease-out heading forwards;
    display: flex;
    flex-direction: column;
}

h2, .heading--h2 {
    margin-block: 1.5rem;
}

.heading--h2 {
    color: var(--basic-black);
}

.heading--hidden {
    content: url(logo.svg);
    width: 320px;
}

.text--hidden {
    display: block;
    font-size: 0;
    margin: 0;
}

@keyframes heading {
    from {
        opacity: 0;
        transform: translate(-50%, -100px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/*body::before {
    content: url(Rectangle1.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}*/

header::after {
    content: url(ellipse.svg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
}

header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 624px;
    background-image: url(gradients.webp);
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

footer {
    position: relative;
    padding: 3rem;
}

footer::after {
    content: "";
    display: block;
    height: 796px;
    width: 100%;
    background-image: url('gradients-bottom.webp');
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -3;
}



.header--blue-gradient::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, #17315300, #173153);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.body--blue-gradient::after {
    content: "";
}


.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section--pozadi {
    position: relative;
    color: var(--basic-white);
    transition: .25s ease;
}

.button{
    color: var(--basic-white);
    transition: .25s ease;
}

.section {
    padding: 3rem;
}

.section--beige {
    background-color: #E8DEC8;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

p {
    max-width: 980px;
    margin-inline: auto;
}

figure {
    margin: 0;
}

.figure--square {
    aspect-ratio: 1;
}

.section--beige {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem;
}

.section--beige img {
    object-fit: cover;
    transition: .5s;
    aspect-ratio: 1;
}

.section--logo {
    display: grid;
    grid-gap: 0 2rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
}

.section--logo img {
    object-fit: contain;
}

.section--logo a img {
    transition: .5s;
}

.section--logo a:hover img {
    transform: scale(1.2);
    transition: .5s;
}

.button {
    text-decoration: none;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    transition: .25s ease;
}

div:has(>.button) {
    margin-block: 4rem 2rem;
}

.button:hover {
    position: relative;
    background: var(--basic-white);
    color: black;
    mix-blend-mode: screen;
    border: none;
    border: 2px solid var(--basic-white);
    transition: .25s ease;

}
  
.button:hover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-radius: 2em;
    content: '';
    mix-blend-mode: color-burn;
    transition: .25s ease;
  }


  .section--beige .box--text:hover img {
    transform: scale(1.25);
  }

  .section--beige .box--text img {
    display: block;
    width: 100%;
    height: auto;
}

.section--beige .box--text {
    position: relative;
    display: inline-block;
}

.section--beige .box--text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.section--beige .box--text:hover:before {
    background-color: var(--sec-sky-blue);
    opacity: .5;
}

.box--text {
    position: relative;
}

figcaption {
    position: absolute;
    width: 100%;
    padding: 1em;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    color: var(--basic-white);
    opacity: 0;
    user-select: none;
}

.box--text:hover figcaption {
    opacity: 1;
    transition: 1s .25s;
}

.img-heading {
    font-size: calc((100vw - (2 * (6rem + 1.5rem + 2rem))) / (100 / 3));
    font-family: 'NotoSerif', serif;
    margin-block: 1rem 1rem;
    padding-inline: calc((100vw - (2 * (6rem + 1.5rem + 2rem))) / (100 / 3));
}

figcaption small {
    font-size: calc((100vw - (2 * (6rem + 1.5rem + 2rem))) / (100 / 1.5));
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
}

.section--beige figure {
    overflow: hidden;
}

/*
@media screen and (max-width: 1560px){
    .img-heading {
        font-size: 2.2rem;
        max-width: 330px;
    }
}

@media screen and (max-width: 1560px){
    .img-heading {
        font-size: 2rem;
        max-width: 290px;
    }
}*/
/*
.button-box {
    transform: none !important;
}
*/

.section--offer article {
    display: flex;
    align-items: start;
    gap: 4rem;
}

article div {
    text-align: left;
}

.article__figure {
    width: 25vw;
    aspect-ratio: 1;
    flex-shrink: 0
}

article h2 {
    margin-top: 0;
}

.section--offer {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 8rem;
    align-items: center;
}

.section--introduction {
    height: calc(100vh - 18rem - 6rem);
    position: relative;
}

/*.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}*/

.text-box__list {
    padding-left: calc(1rem + 7.2px / 4);
}

li::marker {
    color: var(--prim-gold);
  }






.scroll {
    position: absolute;
    left: 50%;
    bottom: 30%;
    opacity: 0;
    transform: translateX(-50%);
    animation: scroll .8s 3s ease-in forwards;
}

.scroll img {
    width: 2vw;
    height: auto;
    animation: scroll2 2s 3s ease-in-out infinite;
}

@keyframes scroll {
    from {
        bottom: 30%;
        opacity: 0;
    }
    50% {
        opacity: .2;
    }
    to {
        bottom: 15%;
        opacity: 1;
    }
}

@keyframes scroll2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text--decorative {
    margin-block: 0 3rem;
}

.heading--margin-bottom {
     margin-bottom: .5rem;
}

.text-box p {
    margin-inline: 0;
}

.section--interest__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
}

.article-box {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.section--interest__text-box h2 {
    font-size: 1.5rem;
    text-align: left;
    max-width: 420px;
}

.section--interest__text-box .button-box {
    margin-top: 2rem;
}

/*.picture-box--beige {
    height: calc((100vw - 9rem) / 6);
    background-color: var(--sec-sand);
    display: grid;
    grid-gap: 1.5rem;
    padding-inline: 6rem;
    margin-inline: -3rem;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}*/



.section--inspiration::after {
    content: "";
    display: block;
    height: calc((100vw - 9rem) / 6);
    width: 100%;
    background-color: var(--sec-sand);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    z-index: -1;
}


.section--inspiration {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}



@media screen and (max-width: 1920px){
    .scroll img {
        width: 40px;
    }
}


.box--text:has(.button:hover) figcaption, .box--text:has(.button:hover) .button-box {
    mix-blend-mode: screen;
  }


.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.icon-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icon-box > a {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

[class*="icon-box__icon--"]::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

.icon-box__icon--phone::before {
    background-image: url(icons/icon_phone.svg);
}

.icon-box__icon--phone:hover::before {
    background-image: url(icons/icon_phone-hover.svg);
}

.icon-box__icon--email::before {
    background-image: url(icons/icon_email.svg);
}

.icon-box__icon--email:hover::before {
    background-image: url(icons/icon_email-hover.svg);
}

.icon-box__icon--instagram::before {
    background-image: url(icons/icon_instagram.svg);
}

.icon-box__icon--instagram:hover::before {
    background-image: url(icons/icon_instagram-hover.svg);
}

.icon-box__icon--facebook::before {
    background-image: url(icons/icon_facebook.svg);
}

.icon-box__icon--facebook:hover::before {
    background-image: url(icons/icon_facebook-hover.svg);
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box > div {
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.footer-container__link--maker {
    text-align: center;
    margin-top: 4rem;
}

.footer-container__text, .footer-container__link {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-text-4);
}

.footer-container__link:hover {
    color: var(--prim-gold);
}


@media screen and (max-width: 380px) {
    .footer-container__text {
        margin-inline: -1rem;
    }
}

@media screen and (min-width: 450px) {
    .preset-box {
        padding-inline: 4rem;
    }
}

@media screen and (min-width: 590px) {
    .icon-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-box {
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
    }

    .footer-container__link--maker {
        margin-top: 2rem;
    }
}

    @media screen and (min-width: 800px) {
        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
    
          .footer-container__link--maker {
            margin-top: 0;
        }
    
        .footer-container__text {
            margin: 0;
        }
    }

    .footer-container__link, .footer-container__text {
        color: var(--basic-white);
    }
    @media screen and (max-width: 768px){
        .section--beige {
            grid-gap: 3rem;
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem;
        } /* dočasní, chci dát carousel */
    
        .section--logo {
            grid-template-columns: repeat(3, 1fr);
        }
    
        .icon-container {
            flex-direction: row;
            justify-content: center;
        }
    }

    .section--contact figure {
        height: calc(75vh);
    }

    .section--contact img {
        object-fit: contain;
        mix-blend-mode: darken;
    }

    .section--contact article {
        width: 160px;
    }

    .section--contact .article-box {
        gap: 0;
        margin-top: 4rem;
    }

    
.hide {
    display: none;
}

    .section--form .container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .section--form > div {
        width: 640px;
        margin: 0 auto;
    }

    form input, form textarea {
        width: 100%;
    }

    form textarea {
        height: 150px;
        margin: 0 0 20px 0;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(195, 195, 195);
        resize: none;
    }

    form input {
        margin: 0 0 1rem 0;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(195, 195, 195);
    }

    .container > div {
        width: 50%;
    }

    form input[type="checkbox"] {
        width: auto;
        margin: 0 .5rem 0 0;
    }